<script src="/script/telegramConn/js/help.js"></script>
<div id="overlay">
    <div class="text text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Help</h1>
</div>