<li class="nav-item">
  <a class="nav-link collapsed" href="./main?action=connConfig">
    <i class="fas fa-fw fa-cogs"></i>
    <span>Connector Config</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseChannelConf" aria-expanded="true" aria-controls="collapseChannelConf">
    <i class="far fa-fw fa-newspaper"></i>
    <span>Channels</span>
  </a>
  <div id="collapseChannelConf" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item" href="./main?action=manageChannels">Manage</a>
      <a class="collapse-item" href="./main?action=newChannel">New Channel</a>
    </div>
  </div>
</li>


<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGroupChatConfig" aria-expanded="true" aria-controls="collapseGroupChatConfig">
    <i class="fas fa-fw fa-comments"></i>
    <span>Chat Groups</span>
  </a>
  <div id="collapseGroupChatConfig" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item" href="./main?action=manageChatGroups">Manage</a>
      <a class="collapse-item" href="./main?action=newChatGroup">New Chat Groups</a>
    </div>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link collapsed" href="./main?action=help">
    <i class="fas fa-fw fa-question-circle"></i>
    <span>Help</span>
  </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>