<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">View APIs</h1>
</div>

<div ng-app="svcViewApp" ng-controller="svcViewCtrl">
  <!-- Service section -->
  <div class="card shadow mb-4">

    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Services</h6>
    </div>
    <div class="card-body" ng-if="!hasAppServices">
      <p class="text-center">No Services found</p>
    </div>
    <div class="card-body" ng-if="hasAppServices">
      
      </div>
    </div> 
  </div>

  <!-- Custom API section -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Custom</h6>
    </div>
    <div class="card-body" ng-if="!hasCustomeizedApis">
      <p class="text-center">No APIs found</p>
    </div>
    <div class="card-body" ng-if="hasCustomeizedApis" ng-repeat="customizedApi in customizedApis">
      <h5>{{customizedApi.name}}</h5>
      <p class="text-justify">{{customizedApi.description}}</p>
      <div class="input-group mb-3" ng-repeat="customizedGetApi in customizedApi.get">
        <div class="input-group-prepend">
          <span class="input-group-text api-get-label" id="inputGroup-sizing-default">GET</span>
        </div>
        <input disabled type="text" value="{{customizedGetApi}}" class="form-control api-get-uri" aria-describedby="inputGroup-sizing-default">
      </div>
    </div> 
  </div>
</div>